body {
  font-family: 'Roboto Mono', monospace;
  user-select:none;
  background-color:white;
  height:auto;
}
h1 {
  margin: 5vmin;
  font-size:4vmin;
}
.header {
  /*user-select:none;*/
  position:relative;
  font-family: 'Roboto Condensed', sans-serif;
  width:100%;
  font-size:6vmin;
  background-color:orange;
  text-align:center;
  box-shadow:0vmin 1vmin 1vmin rgba(0,0,0,0.8);
  margin-bottom:0.75vmin;
}
.bar {
  border-radius:2vmin;
  position:absolute;
  width:7vmin;
  height:1.25vmin;
  top:1vmin;
  left:1.5vmin;
}
#bar2 {
  top:3vmin;
}
#bar3 {
  top:5vmin;
}
.navbar {
  background-color:white;
  width:17%;
  float:left;
  position:sticky;
  margin-right:7vmin;
  display:none;
  height:100%;
  color:black;
}
.navbar ul li {
  list-style-type:none;
  margin-bottom:1vmin;
  word-wrap:break-word;
}
.navbar ul li a{
  text-decoration:none;
}
.navbar ul li:last-child{
  text-decoration:none;
  margin-bottom:0px;
}
.navbar ul li:hover {
  font-weight:bold;
}
.navbar ul li a:link {
  color:black;
}
.navbar ul li a:visited {
  color:darkgrey;
}
.navbar ul li a:active {
  color:orange;
}
.text { 
  background-color:rgba(0,0,0,0.3);
  color:white;
  font-size:3vmin;
  width:16.5vmin;
  z-index:1;
  position:absolute;
  /*left:5vmin;
  top:17vmin;*/
  left:8%;
  top:35%; 
}
form {
  font-size:3vmin;
}
.dropdown {
  margin:5vmin;
  float:left;
}
.dropdown ul li {
  display:none;
  list-style-type:none;
  margin:auto;
  padding:0px;
  background-color:light-grey;
}
.dropdown ul li:hover {
  background-color:lightgrey;
}
.filterText {
  float:left;
  display:block;
  border-left:0.2vmin solid orange;
  width:5mvin;
}
.filterText:hover {
  background-color:lightgrey;
}
.home {
  color:white;
  padding-top:15vmin;
  padding-bottom:15vmin;
  text-align:center;
  background-image:url("IMG_1414.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:auto;
  box-sizing:border-box;
}
.home h1 {
  font-size:15vmin;
}
.videoC {
  display:none;
  padding-top:5vmin;
  padding-bottom:15vmin;
  margin-left: auto;
  margin-right: auto;
  horizontal-align:center;
  /*background-color:lightgrey;*/
  width:100%;
  height:auto;
}
.video {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:1000px;
  height:auto;
}
.siteText {
  text-align:center;
  color:white;
}
.info {
  text-align:center;
  color:white;
  width:auto;
}
.moreInfo {
  display:none;
  text-align:center;
  width:auto;
  height:auto;
  background-color:#ff9900;
  margin-right:25vmin;
  margin-left:25vmin;
}
#container {
  width:100%;
  float:left;
}
.miPic {
  width:5vmin;
  height:5vmin;
  position:absolute;
  right:75vmin;
  top:0vmin;
}
#site2C {
  display:none;
  background-image:url("STEAM_Icons/STEAM_2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.infoContainer {
  position:relative;
}
.gridContainer {
  justify-content:space-evenly;
  align-content:center;
  background-color:darkgrey;
  display:grid;
  grid-gap:2vmin;
  grid-template-columns: auto auto auto auto;
  width:100%;
  height:70vmin;
}
.moreInfoGridC {
  display:grid;
  justify-content:space-evenly;
  align-content:center;
  grid-template-columns: auto auto auto;
  width:100%;
  background-color:yellow;
  height:20vmin;
}
#zBox1 {
  width:25%;
}
#zBox2 {
  width:45%;
  grid-column: 2 / 3;
}
#zBox3 {
  width:25%;
}
/*.selectorBox {
}*/
.selectorBox img{
  width:27vmin;
  height:auto;
  border-radius:2vmin;
  box-shadow: 2vmin 2vmin 3vmin grey;
}
#site1C {
  display:block;
  background-image:url("STEAM_Icons/STEAM_1.png");
  background-repeat:no-repeat;
  background-size:cover;
}
#site9 {
  grid-column: 2 / 4;
}
#site10 {
  grid-column: 3 / 5;
}
.siteImg {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#site9Img {
  /*float:right;*/
  margin-left:auto;
  margin-right:auto;
}
.textOver {
  position:relative;
  top:-25%;
  text-decoration:none;
  font-size:2vmin;
  color:white;
  text-align:center;
  left:0px;
  width:auto;
  background-color:orange;
}
#textOver9 {
  position:relative;
  right:0px;
}
#noShowImg {
  display:none;
}
#site3C {
  background-image:url("STEAM_Icons/STEAM_3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#site4C {
  background-image:url("STEAM_Icons/STEAM_4.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#site5C {
  background-image:url("STEAM_Icons/STEAM_5.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#site6C {
  background-image:url("STEAM_Icons/STEAM_6.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#info5 {
  width:auto;
  background-color:rgba(0,0,0,0.5);
  margin-right:25vmin;
  margin-left:25vmin;
}
#info6 {
  width:auto;
  background-color:rgba(0,0,0,0.5);
  margin-right:25vmin;
  margin-left:25vmin;
}
#info8 {
  width:auto;
  background-color:rgba(0,0,0,0.5);
  margin-right:25vmin;
  margin-left:25vmin;
}
#site7C {
  background-image:url("STEAM_Icons/STEAM_7.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#site8C {
  background-image:url("STEAM_Icons/STEAM_8.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#site9C {
  background-image:url("STEAM_Icons/STEAM_9.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
@media screen and (max-width:970px) {
  .header {
    background-color:#ffa502;
  }
  .textOver {
    font-size:4vmin;
  }
  .navbar {
    width:100%;
    height:auto;
    display:none;
    float:none;
  }
  .navbar ul li {
    text-align:center;
    margin-left:0px;
    width:100%;
  }
  embed {
    width:100%;
    float:none;
  }
  .gridContainer {
    grid-template-columns: auto auto auto auto auto auto;
    height:90vmin;
  }
  #site9 {
    /*This is used to set it back to normal*/
    grid-column: 5 / 7;
  }
  #site10 {
    grid-column: 3 / 5;
  }
  .selectorBox {
    grid-column: span 2;
  }
  #site9Img {
    float:none;
  }
  #site10Img {
    float:none;
  }
  .moreInfo {
    margin-right:0px;
    margin-left:0px;
  }
  #info6 {
    width:100%;
    margin:0px;
  }
  #info8 {
    width:100%;
    margin:0px;
  }
  #site3Text {
    width:100%;
    background-color:rgba(0,0,0,0.5);
  }
}